body {
    background-color: #005961;
    color: #fff;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0px 10px 0px;
}

h1 {
    font-size: 250%;
    text-align: center;
}

h2{
    font-size: 200%;
    color: yellow;
}

h3{
    font-size: 150%;
    color: #FFADF7;
}

p {
    line-height: 1.15;
}

img, video {
    border: 5px solid white;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

ul {
    display: inline-block;
    margin-left: 50px;
    list-style-type: disc;
}